body{
    background: #0E9594;
}

header{
    padding-top: 1%;
}

h1{
    color: #F5DFBB;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 90px;
    line-height: 100px;
    text-align: center;
    margin-bottom: 0px; 
}

h2{
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    margin-top: -1px;
}

article{
    padding-top: 2%;
}


.carousel-item{
    /*width: 50%;*/
    height: 400px; /*height you want*/
    overflow: hidden;
}
.carousel-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: auto;
}


/*BOTONES: INICIAR SESION - REGISTRARSE*/


.barra{
    display: inline-flex;
	padding:30px;
    margin: auto;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    
    
}



.barra button{
    background: #F5DFBB;
    border: 1px solid #F5DFBB;
    box-sizing: border-box;
    font-family: 'Outfit';
    font-size: smaller;
    border-radius: 3.2px;
    color: black;
}

.barra button:hover{

    background: #d6c9b3;

}
