body{
    background: #F2542D;
}

h1{
    text-align: center;
    font-weight: 600;
    margin-bottom: 30px;
    margin-top: 60px;

     /*letra */
     text-align: center;
     font-style: normal;
     font-family: Arial, Helvetica, sans-serif;
     font-weight: 600;
     font-size: 60px;
     line-height: 60px;
     color: black;
 }
    
h2{
    text-align: center;
    font-weight: 600;
    margin-bottom: 60px;
    margin-top: 30px;

     /*letra */
     text-align: center;
     font-style: normal;
     font-family: Arial, Helvetica, sans-serif;
     font-weight: 600;
     font-size: 40px;
     line-height: 60px;
     color: black;

}

form{
    margin-left:42%;
    display: block;
    margin-bottom: 12pt; 
    
}

form input{

    margin-bottom: 5px;
}

form h3 {
    font-size: small;
    margin-top: 5pt;
}

form input{

    box-sizing: border-box;
    height: 20px;
    width: 300px;
    margin-bottom: 40px;
    border: 0px;
}

form button{

    height: 50px;
    width: 170px;
    margin-top: 20px;

}

img{
    height: 60px;
    width: 60px;
    margin-left: 1200px;



