body{
    background: #F2542D;
}

h1{
    font-size: 64px;
    text-align: center;
    font-weight: 600;
    font-size: 100px;
    margin-bottom: 100px;
    
}

form{
    margin-left:42%;
    display: block;
    margin-bottom: 12pt; 
    
}

form input{

    margin-bottom: 5px;
}

form h3 {
    font-size: small;
    margin-top: 5pt;
}

form input{

    box-sizing: border-box;
    height: 20px;
    width: 300px;
    margin-bottom: 40px;
    border: 0px;
}

form button{

    height: 50px;
    width: 170px;
    
    margin-top: 20px;

}

img{

    
}


