body{
    background-color: #EDEDED;
}

.barra{
    background-color: hsl(37, 74%, 85%);
}

.buscar{
    margin-left: 5%;
}

.receta{
    margin-top: 1%;
    margin-left: 10%;
}


#cardmain1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    width: 300px;
    height: 480px;
    left: 63px;
    top: 152px;

    /* Gray/White */

    background: #FFFFFF;
    /* _Components/Card/Border */

    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 4px;
}

#cardmain2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    width: 300px;
    height: 480px;
    left: 400px;
    top: 152px;

    /* Gray/White */

    background: #FFFFFF;
    /* _Components/Card/Border */

    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 4px;
}

#cardmain3{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    width: 300px;
    height: 480px;
    left: 740px;
    top: 152px;

    /* Gray/White */

    background: #FFFFFF;
    /* _Components/Card/Border */

    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 4px;
}

#divider{
    flex-direction: row;
    padding: 0px;
    position: absolute;
    width: 1920px;
    height: 2px;
    top: 644px;
}