body{

    position: relative;
    
    
    background: #F5DFBB;
}

h1{
    text-align: center;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 60px;
}


div{
    display: inline-block;
}


form{
    padding-left: 100px;
}


form h2{
    padding-left: 70px;
    
}


form h3{
    font-size: small;
    padding-top: 40px;
}


form input{

    width: 300px;
    height: 25px;
    border: 0px;
    
}

form button{

    margin-left: 70px;
    background: #F2542D;
    display: block;
    margin-top: 40px;
    text-align: center;
    width: 160px;
    height: 50px;
    border: 1px solid #F2542D;
    box-sizing: border-box;
    border-radius: 3.2px;
}