body{
    background: #0E9594;
}

h1{
    color: #F5DFBB;
    font-family: 'Outfit';
    font-weight: 600;
    font-size: 100px;
    line-height: 100px;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 0px;
    
}

h2{
    font-family: 'Outfit';
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    margin-top: -1px;
}


.carrusel img{
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-bottom: 10px;
}


.barra{
    display: inline;
	padding: 10px 30px;
    margin-top: 100px;
    
	text-align: center;
	width: 100px;
  
}

.barra .iniciar{
    
    margin-left: 300px;
    background: #F5DFBB;
    border: 1px solid #F5DFBB;
    box-sizing: border-box;
    font-family: 'Outfit';
    font-size: smaller;
    border-radius: 3.2px;
}

.barra .registrar{
    background: #F5DFBB;
    border: 1px solid #F5DFBB;
    box-sizing: border-box;
    font-family: 'Outfit';
    font-size: smaller;
    border-radius: 3.2px;
}

.barra .iniciar:hover, .registrar:hover{

    background: #d6c9b3;

}





