body{
    background: #0E9594;
    font-size: 16px;
}

header{
    padding-top: 1%;
}

.tituloInicio{
    color: #F5DFBB;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 38rem;
    font-size: 6.25rem;
    line-height: 6.25rem;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 70px; 
}

.subtituloInicio{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 25rem;
    font-size: 0.9375rem;
    text-align: center;
    margin-top: -1px;
    color: #F5DFBB;
    font-size: larger;
}

article{
    padding-top: 2%;
}


.carousel-item{
    /*width: 50%;*/
    height: 25rem; /*height you want*/
    overflow: hidden;
}
.carousel-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: auto;
}


/*BOTONES: INICIAR SESION - REGISTRARSE*/


.barra{
    display: inline-flex;
	padding:1.875rem;
    margin: auto;
    text-decoration: none;
    
    
}



.barra button{
    background: #F5DFBB;
    border: 1px solid #F5DFBB;
    box-sizing: border-box;
    font-family: 'Outfit';
    font-size: smaller;
    border-radius: 3.2px;
    color: black;
}

.barra button:hover{

    background: #d6c9b3;
    border-color: rgb(156, 153, 153);

}




/* ----------------------------------------------------------------------------------- */
/* ------------------------------------LOGIN------------------------------------------ */
/* ----------------------------------------------------------------------------------- */

.formcontrol{
    margin: 0 auto 30px auto;
    display: flex;
    width: 500px;
}
.inputLogin{
    color: bisque;
    margin-top: 200px;
}

.containerLogin{
    background-color: rgba(156, 153, 153, 0.349);
    border-radius:5%;
    width: auto;
    height: auto;
    align-items: center;
}

.loginc{
    display: flex;
    justify-content: center;
    margin-top: 150px;


}



.tituloLogin{
    text-align: center;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 3rem;
    line-height: 3.75rem;
    color: black;
    width: auto;
    max-width:auto;
    
}

.subtituloLogin{
    text-align: center;
    margin-bottom: 3rem;
    margin-top: 2rem;

     /*letra */
     text-align: center;
     font-style: normal;
     font-family: Arial, Helvetica, sans-serif;
     font-weight: 600;
     font-size: 1.3rem;
     line-height: 3.75rem;
     color: black;
     width: auto;

}

.labelLogin{
    font-size: small;
    margin-top: 5pt;
}

.inputLogin{
    box-sizing: border-box;
    height: 40px;
    width: 300px;
    margin-bottom: 40px;
    border: 0px;
    width: 25rem;
    margin-left: 32%;
   
}

.botonLogin{
    width: 10rem;
    background-color: orangered;
}

.inputCrear{

    box-sizing: border-box;
    height: 40px;
    width: 300px;
    margin-bottom: 40px;
    border: 0px;
    width: 30rem;

}

.btn{
    background-color: orangered;
    margin-bottom: 30px;
    font-family: Arial, Helvetica, sans-serif;
    border-color: bisque;
    color: white;

}
#inputproc{
    height: 300px;
}

.botonCrear{
    margin-left: 40px;
}

.tituloCrear{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    margin-top: 70px;
}




/* ----------------------------------------------------------------------------------- */
/* ------------------------------------MAIN------------------------------------------ */
/* ----------------------------------------------------------------------------------- 


height: 100px;
    width: flex;
    margin: auto;
    */

.containerbtnver{
    display: flex;
    justify-content: center;
}

    .btnver{
    background-color: orangered;
    border-color: bisque;
    color: white;
    align-self: center;
}
.btnver>a{
    text-decoration: inherit;
    color: white;
    
}
.imagenCard{
    height: auto;
    max-height: 150px;
    width: auto;
    max-width: 300px;
}

.cardfooter{
    align-content: center;
   
}

.list-group-flush{
    padding-bottom: 5px;
}

/* ----------------------------------------------------------------------------------- */
/* ------------------------------------RECETARIO------------------------------------------ */
/* ----------------------------------------------------------------------------------- */

#tituloRec{
    text-align: center;
    padding-top: 45px;
    padding-bottom: 80px;
    font-family: Arial, Helvetica, sans-serif;

}

.recetariosLista{
    display: flex;
    justify-content: center;
    flex-flow:row wrap;
}

/* ----------------------------------------------------------------------------------- */
/* ------------------------------------EDITAR PERFIL------------------------------------------ */
/* ----------------------------------------------------------------------------------- */

.perfilcard{
    display: flex;
    background-color: white;
    height:auto;
    margin-top: 50px;
    text-align: center;
}


.header{
    text-align: center;
    align-content: center;
    width: 100pxpx;
    height: 100px;
    margin:auto;
    
}

#hrec{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;

}

#titulocard{
    margin-top: 10px;
}

html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100% !important;

}

#botonheader{
    width: 100px;
    height: 60px;
    align-self: center;
    margin-top: 10px;
    background-color: orangered;
    border-color: bisque;
}


/* ----------------------------------------------------------------------------------- */
/* ------------------------------------CREAR------------------------------------------ */
/* ----------------------------------------------------------------------------------- */
#btncrear{
    background-color: orangered;
    border-color: bisque;
    font-weight: 100;
}

/* ----------------------------------------------------------------------------------- */
/* ------------------------------------RECETA BLOG------------------------------------------ */
/* ----------------------------------------------------------------------------------- */

.tituloReceta{
    text-align: center;
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;

}

.cuerpo{
    justify-content: center;
}