body{
    background: #0E9594;
    font-size: 16px;
}

header{
    padding-top: 1%;
}

.tituloInicio{
    color: #F5DFBB;
    font-family: 'Outfit';
    font-weight: 38rem;
    font-size: 6.25rem;
    line-height: 6.25rem;
    text-align: center;
    margin-bottom: 0px; 
}

.subtituloInicio{
    font-family: 'Outfit';
    font-weight: 25rem;
    font-size: 0.9375rem;
    text-align: center;
    margin-top: -1px;
}

article{
    padding-top: 2%;
}


.carousel-item{
    /*width: 50%;*/
    height: 25rem; /*height you want*/
    overflow: hidden;
}
.carousel-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: auto;
}


/*BOTONES: INICIAR SESION - REGISTRARSE*/


.barra{
    display: inline-flex;
	padding:1.875rem;
    margin: auto;
    text-decoration: none;
    
    
}



.barra button{
    background: #F5DFBB;
    border: 1px solid #F5DFBB;
    box-sizing: border-box;
    font-family: 'Outfit';
    font-size: smaller;
    border-radius: 3.2px;
    color: black;
}

.barra button:hover{

    background: #d6c9b3;
    border-color: rgb(156, 153, 153);

}




/* ----------------------------------------------------------------------------------- */
/* ------------------------------------LOGIN------------------------------------------ */
/* ----------------------------------------------------------------------------------- */


.inputLogin{
    color: rebeccapurple;
}



.tituloLogin{
    text-align: center;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 3rem;
    line-height: 3.75rem;
    color: rgb(255, 255, 255);
    margin-top: 5rem;
}

.subtituloLogin{
    text-align: center;
    margin-bottom: 3rem;
    margin-top: 2rem;

     /*letra */
     text-align: center;
     font-style: normal;
     font-family: Arial, Helvetica, sans-serif;
     font-weight: 600;
     font-size: 1.3rem;
     line-height: 3.75rem;
     color: white;

}

.labelLogin{
    font-size: small;
    margin-top: 5pt;
}

.inputLogin{
    box-sizing: border-box;
    height: 40px;
    width: 300px;
    margin-bottom: 40px;
    border: 0px;
    width: 25rem;
    margin-left: 32%;
   
}

.botonLogin{
    width: 10rem;
    background-color: rgb(152, 150, 150);
}

.inputCrear{

    box-sizing: border-box;
    height: 40px;
    width: 300px;
    margin-bottom: 40px;
    border: 0px;
    width: 30rem;

}

#inputproc{
    height: 300px;
}

.botonCrear{
    margin-left: 40px;
}




/* ----------------------------------------------------------------------------------- */
/* ------------------------------------MAIN------------------------------------------ */
/* ----------------------------------------------------------------------------------- 


height: 100px;
    width: flex;
    margin: auto;
    */

.btnver{
    background-color: orangered;
    border-color: bisque;
}
.imagenCard{
    height: auto;
    max-height: 150px;
    width: auto;
    max-width: 300px;
}

.cardfooter{
   
}

.list-group-flush{
    padding-bottom: 5px;
}