body{

    position: relative;
    background: #F5DFBB;
}

.titulo{

    /*posicionamiento */
    position: absolute;
    width: 897px;
    height: 113px;
    left: 353px;
    top: 128px;

     /*letra */
    text-align: center;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 48px;
    line-height: 60px;
    color: black;
}

#subtitulo{
    position: absolute;
    width: 371px;
    height: 65px;
    left: 200px;
    top: 263px;

    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 45px;

    color: #000000;
}


div{
    display: inline-block;
}


form{
    padding-left: 100px;
}


form h2{
    padding-left: 50px;
    
}


form h3{
    font-size: small;
    padding-top: 30px;
}


form input{

    width: 300px;
    height: 25px;
    border: 0px;
    
}

form button{

    /*
    margin-left: 70px;
    background: #F2542D;
    display: block;
    margin-top: 40px;
    text-align: center;
    width: 160px;
    height: 50px;
    border: 1px solid #F2542D;
    box-sizing: border-box;
    border-radius: 3.2px;
    */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 9px;

    position: absolute;
    width: 179px;
    height: 62px;
    left: 150px;
    top: 813px;

    background: #F2542D;
    border: 1px solid #F2542D;
    box-sizing: border-box;
    border-radius: 3.2px;
    margin-bottom: 50px;
}

form button:hover{
    background: #f04014;
}


#card1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    width: 300px;
    height: 480px;
    left: 604px;
    top: 313px;

    /* Gray/White */

    background: #FFFFFF;
    /* _Components/Card/Border */

    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 4px;

}

#card2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    width: 300px;
    height: 480px;
    left: 950px;
    top: 309px;

    /* Gray/White */

    background: #FFFFFF;
    /* _Components/Card/Border */

    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 4px;    
}

#formRegistro{
    padding-top: 300px;
}
